.search-result-items {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    flex: 1;
    gap: 8px;
    overflow: overlay;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* scrollbar effects */
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-width: 4px;
    scrollbar-color: #343434 transparent;
}

/* Style scrollbar for Chrome, Safari and Opera */
.search-result-items::-webkit-scrollbar {
    width: 4px;
}

.search-result-items::-webkit-scrollbar-thumb {
    background-color: #343434;
    border-radius: 10px;
}

/* Style scrollbar for Firefox */
.search-result-items {
    scrollbar-width: thin;
    scrollbar-color: #343434 transparent;
}

/* Style scrollbar for Internet Explorer */
.search-result-items {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.search-result-items::-ms-thumb {
    background-color: #343434;
    border-radius: 10px;
}