.b-none {
    border: none !important;
}

.b-gray2 {
    box-shadow: 0 0 0 1px var(--gray2) !important;
}

.b-gray3 {
    box-shadow: 0 0 0 1px var(--gray3, #9FA2AB) !important;
}

/* pseudo class single/x/y sided inset border */

/* Top border */
/* Top border */
.bt-gray3 {
    position: relative;
}

.bt-gray3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--gray3);
    z-index: 1;
}

/* Right border */
.br-gray3 {
    position: relative;
}

.br-gray3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--gray3);
    z-index: 1;
}

/* Bottom border */
.bb-gray3 {
    position: relative;
}

.bb-gray3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--gray3);
    z-index: 1;
}

/* Left border */
.bl-gray3 {
    position: relative;
}

.bl-gray3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--gray3);
    z-index: 1;
}

/* Vertical borders (Left and Right) */
.bv-gray3 {
    position: relative;
}

.bv-gray3::before,
.bv-gray3::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--gray3);
    z-index: 1;
}

.bv-gray3::before {
    left: 0;
}

.bv-gray3::after {
    right: 0;
}

/* Horizontal borders (Top and Bottom) */
.bh-gray3 {
    position: relative;
}

.bh-gray3::before,
.bh-gray3::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--gray3);
    z-index: 1;
}

.bh-gray3::before {
    top: 0;
}

.bh-gray3::after {
    bottom: 0;
}

/* ------------------------------ */
/* ------------------------------ */
/* Primary-100 borders */
.b-primary-100 {
    box-shadow: 0 0 0 1px var(--primary100) !important;
}

.bt-primary-100 {
    position: relative;
}

.bt-primary-100::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--primary100);
    z-index: 1;
}

/* Right border */
.br-primary-100 {
    position: relative;
}

.br-primary-100::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--primary100);
    z-index: 1;
}

/* Bottom border */
.bb-primary-100 {
    position: relative;
}

.bb-primary-100::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--primary100);
    z-index: 1;
}

/* Left border */
.bl-primary-100 {
    position: relative;
}

.bl-primary-100::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--primary100);
    z-index: 1;
}

/* Vertical borders (Left and Right) */
.bv-primary-100 {
    position: relative;
}

.bv-primary-100::before,
.bv-primary-100::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--primary100);
    z-index: 1;
}

.bv-primary-100::before {
    left: 0;
}

.bv-primary-100::after {
    right: 0;
}

/* Horizontal borders (Top and Bottom) */
.bh-primary-100 {
    position: relative;
}

.bh-primary-100::before,
.bh-primary-100::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--primary100);
    z-index: 1;
}

.bh-primary-100::before {
    top: 0;
}

.bh-primary-100::after {
    bottom: 0;
}
