.platform-left-drawer {
    display: flex;
    width: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
    border-right: 1px solid var(--gray3);
    background: var(--white);
    height: 100%;
    position:fixed;
}
