stripe-pricing-table {
    /* visibility: hidden; */
    position: absolute;
}

.pricing-card-container {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.pricing-card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.standard-pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.custom-pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.pricing-feature {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--primary500);
}