.platform-card {
    display: flex;
    flex: 1 1 280px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background: var(--white, #F9FAFC);
}

.platform-card:hover {
    background: var(--gray2)
}