$colors: (
  gray2: var(--gray2),
  gray3: var(--gray3, #9FA2AB),
  primary-100: var(--primary100)
);

@mixin border($color) {
  box-shadow: 0 0 0 1px $color !important;
}

@mixin pseudo-border($position, $color) {
  position: relative;

  &::#{$position} {
    content: "";
    position: absolute;
    background-color: $color;
    z-index: 1;

    @if $position == 'before' {
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
    } @else if $position == 'after' {
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
    }
  }
}

// Apply styles
@each $name, $color in $colors {
  .b-#{$name} {
    @include border($color);
  }

  .bt-#{$name} {
    @include pseudo-border(before, $color);
  }

  .br-#{$name} {
    @include pseudo-border(after, $color);
  }

  .bb-#{$name} {
    @include pseudo-border(after, $color);
  }

  .bl-#{$name} {
    @include pseudo-border(before, $color);
  }
}
