// Define SCSS variables
$primary: #003366;
$primary100: #D1DDFC;
$primary500: #33557D;
$white: #F9FAFC;
$gray2: #F2F4F7;
$gray3: #9FA2AB;
$gray4: #3E424A;
$black: #181820;
$error: #D43A28;
$red-light: #F7CAC9;
$red-dark: #D43A28;
$success: #1E8449;
$orange-light: #FFF2E1;
$orange-dark: #F57C00;
$purple-dark: #8E24AA;
$purple-light: #F3E5F5;
$teal-light: #D0F0E4;
$teal-dark: #008080;
$green-light: #E8F5E9;
$green-dark: #1E8449;

:root {
    --primary: #003366;
    --primary100: #D1DDFC;
    --primary500: #33557D;
    --white: #F9FAFC;
    --gray2: #F2F4F7;
    --gray3: #9FA2AB;
    --gray4: #3E424A;
    --black: #181820;
    --error: #D43A28;
    --red-light: #F7CAC9;
    --red-dark: #D43A28;
    --success: #1E8449;
    --orange-light: #FFF2E1;
    --orange-dark: #F57C00;
    --purple-dark: #8E24AA;
    --purple-light: #F3E5F5;
    --teal-light: #D0F0E4;
    --teal-dark: #008080;
    --green-light: #E8F5E9;
    --green-dark: #1E8449;
}

// Mixin for background color
@mixin bg-color($color-name, $color-value) {
    .bg-#{$color-name} {
        background: $color-value !important;
    }
}

// Mixin for text color
@mixin text-color($color-name, $color-value) {
    .t-#{$color-name} {
        color: $color-value !important;
    }
}

// Generate classes using mixins
@include bg-color('primary', $primary);
@include bg-color('primary-500', $primary500);
@include bg-color('white', $white);
@include bg-color('gray2', $gray2);
@include bg-color('gray4', $gray4);
@include bg-color('black', $black);
@include bg-color('error', $error);
@include bg-color('success', $success);
@include bg-color('red-light', $red-light);
@include bg-color('trans', transparent);
@include bg-color('purple-dark', $purple-dark);
@include bg-color('teal-dark', $teal-dark);

@include text-color('primary', $primary);
@include text-color('white', $white);
@include text-color('error', $error);
@include text-color('success', $success);
@include text-color('gray4', $gray4);
@include text-color('gray2', $gray2);
@include text-color('gray3', $gray3);
@include text-color('black', $black);
@include text-color('red-light', $red-light);
@include text-color('green-light', $green-light);
@include text-color('purple-dark', $purple-dark);
@include text-color('teal-dark', $teal-dark);