input {
    background-color: var(--white);
}


input[type="text"],
input[type="email"],
input[type="password"] {
    flex-grow: 1;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 12px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px var(--gray3);
    color: var(--black, var(--black));

    /* caption */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */

}


.text-input {
    flex-grow: 1;
    width: 100%;
    border: none;
    padding: 8px 12px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px var(--gray3);
    color: var(--black, var(--black));

    /* caption */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
}

select,
option {
    max-width: 640px;
    white-space: pre-wrap;
    border: none;
    padding: 8px 12px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px var(--gray3);

    color: var(--black, var(--black));

    /* text 2 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 150% */

    height: 44px !important;
}

.landing-container .input-field {
    display: flex;
    width: 640px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    color: var(--gray4);
}

@media screen and (max-width: 768px) {
    .landing-container .input-field {
        width: 100%;
    }
}

.input-group {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.absolute-input-wrapper {
    position: absolute;
    display: flex;
    z-index: 500;
}

span[contenteditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: var(--gray3)
}