.file-card {
    display: flex;
    width: 280px;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: inset 0 0 0 1px var(--gray3);
    overflow: hidden;
    text-overflow: ellipsis;
}