.qa-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 654px;
    border-bottom: 1px solid #AAA;
    cursor: pointer;
}

.qa-title {
    max-width: 980px;
    color: var(--white);
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    /* 126.667% */
    letter-spacing: -0.062px;
}

.expandable-button {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;

}

.expandable-icon {
    transition: 0.2s linear;
}

.expandable-icon.expanded {
    transform: rotate(45deg);
}

.qa-item .answer {
    display: flex;
    overflow: hidden;
    color: var(--white, #AAA);
    transition: height 0.2s linear;
}

.qa-item .answer.expanded {
    padding-bottom: 16px;
}