.feature-card {
    display: flex;
    width: 280px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.feature-card .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.feature-card .card-title {
    color: var(--black, var(--black));
    text-align: center;


}

.feature-card .card-description {
    color: var(--black, var(--black));
    text-align: center;

    /* text 2 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
}