.article-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
}

.email-input {
    background: none;
}


.email-input:placeholder {
    color: var(--gray-3, #9FA2AB);

}