textarea[name="system_prompt"] {
    display: flex;
    flex-grow: 1;
    height: 240px;
    padding: 8px 12px;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--gray-3, #9FA2AB);
}

.file-card {
    display: flex;
    width: 280px;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: inset 0 0 0 1px var(--gray3);
    overflow: hidden;
    text-overflow: ellipsis;
}