.model-option-choice-card {
    display: flex;
    padding: 8px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    border: none;
    background: var(--color-on-surface-variant, #252525);
}

.model-option-choice-card:hover {
    background: #212121;
}

.model-option-choice-card .option-title {
    color: var(--white, #fff);

    /* Text 2 */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.model-option-choice-card .option-title-text {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.model-option-choice-card .not-checked-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px dashed var(--white, #fff);
}

.model-option-choice-card .checked-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    border: none;
}

.model-option-choice-card .option-description {
    align-self: stretch;
    color: var(--color-surface-container-high, #919191);
    /* Text 4 */
    font-family: Inter;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
