.platform-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
    padding: 8px 32px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray3);
    z-index: 1000;
}